@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
	margin: 0;
	padding: 0;
}
/*Navbar*/
.menu ul
{
	display: inline-block;
}
.menu
{
	text-align: center;
	padding: 20px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.menu li
{
	list-style-type: none;
	display: inline;
}
.menu a
{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	color: white;
	text-decoration: none;
	padding: 20px;
}
.menu a:hover
{
	opacity: 20%;
	transition: linear 0.2s;
}